<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-4">
      <%= image_tag "me.jpg", width: 300, alt: "profile image" %>

    </div>
  
  <div class="col-md-8">
    <p>Welcome to my blog! I am very excited. This is new for me, so I'm still getting used to things. </p>
    
    <p>I love to sing and play different instruments. I play the guitar, viola, ukulele, and the piano. I love spending time with me family and friends. I am the youngest in my family. I love going hiking, watching movies, reading, etc.</p>
  </div>
</div>