<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>
    
    <p>823 E 315 S Orem, Ut 84097</p>
    
    <h3>Phone</h3>
    
    <p><%= number_to_phone "46098761" %></p>
    
    <h3>Email</h3>
    
    <p><a href="mailto: junjjeeun1234@gmail.com?subject=PortfolioContact" "email me">Email me</a> </a></p>
  </div>

  <div class="col_md_6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.2967756310636!2d-111.67575299999999!3d40.291369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2s823+East+315+South%2C+Orem%2C+UT+84097-5797%2C+USA!5e0!3m2!1sen!2sus!4v1500267614749" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  </div>